html,
body,
.container {
box-sizing: border-box;
height: 100%;
margin: 0;
padding: 0;
}

body {
    background-color: gray;
}

.container{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header{
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: #020202;
}

.box {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: #020202 0px 2px 8px 0px;
    color: gray;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.box-header::after {
    content: " ";
    display: block;
    width: 50%;
    background: #e7e9eb;
    height: 2px;
}

.box-text {
    min-height: 100px;
}

.box-button {
    text-align: center;
}

.box-button::after {
    content: " ";
    display: block;
    clear: both;
}

.btn {
    border: none;
    background-color: #020202;
    border-radius: 25px;
    box-shadow: #020202 0px 1px 6px 0px #020202 0px 1px 1px
    0px;
    color: beige;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
    background: beige;
}

.float-right {
    float: right;
}

#password {
    display: block;
    width: 87%;
    padding: 15px 15px 15px 85px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #020202;
    border-radius: 6px;
    overflow: hidden;
}